# defualt values
DEFAULT_OLLAMA_MODEL="MODEL_NAME"



# agent spicifc values
ROUTER_OLLAMA_MODEL="MODEL_NAME"
DECOMPOSE_OLLAMA_MODEL="MODEL_NAME"
SUBAGENT_OLLAMA_MODEL="MODEL_NAME"
DYNAMIC_AGENT_LLM="MODEL_NAME"
DEEP_RESEARCHER_LLM="MODEL_NAME"

#  API keys
TAVILY_API_KEY="API_KEY"
LANGSMITH_API_KEY="API_KEY"
LANGSMITH_TRACING_V2="BOOLEAN"
LANGSMITH_PROJECT="NAME"
LANGSMITH_ENDPOINT="https://eu.api.smith.langchain.com"
OLLAMA_API_KEY="API_KEY"

# Folder paths
OLLAMA_BASE_URL=''
DATA_FOLDER_PATH=''
TRACELOOP_API_KEY=''
OPENAI_API_KEY=''
LOG_LEVEL=''
DEBUG=''
ARTIFACTS_FOLDER_PATH=''
LOGGING_FOLDER_PATH=''

# Telegram bot tokens
TELEGRAM_BOT_TOKEN="BOT_TOKEN"
TELEGRAM_BOT_CHAT_ID="CHAT_ID"